<div class="card">
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <div class="form-group">
        <label class="col-md-4">Email</label>
        <input type="text" formControlName="email" class="form-control" />
        <p class=" mb-0 mt-1 text-danger" *ngIf="loginForm.controls['email'].hasError('required') &&
        ( loginForm.controls['email'].touched )">
          Email is required</p>
        <p class=" mb-0 mt-1 text-danger" *ngIf="(!loginForm.controls['email'].valid && !loginForm.controls['email'].hasError('required') &&
        ( loginForm.controls['email'].touched ))">
          Enter a valid email</p>
      </div>
      <div class="form-group">
        <label class="col-md-4">Password</label>
        <input type="password" formControlName="password" class="form-control" />
        <p class=" mb-0 mt-1 text-danger" *ngIf="loginForm.controls['password'].hasError('required') &&
        ( loginForm.controls['password'].touched )">
          Password is required</p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
      </div> 
      <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
    </form>
    <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
    <button (click)="socialSignIn('google')">Sign in with Google</button> 
    <button (click)="socialSignIn('Linkedin')">Sign in with Linkedin</button>
  </div>
</div>