<div class="card">
  <div class="card-body">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="col-md-4">Event Name</label>
        <input type="text" formControlName="eventname" class="form-control"/>
        <p class=" mb-0 mt-1 text-danger" *ngIf="eventForm.controls['eventname'].hasError('required') &&
        ( eventForm.controls['eventname'].touched )">
          eventname is required</p>
      </div>
      <div class="form-group">
        <label class="col-md-4">Event Date </label>
        <input type="date" formControlName="event_date" class="form-control" />
        <p class=" mb-0 mt-1 text-danger" *ngIf="eventForm.controls['event_date'].hasError('required') &&
        ( eventForm.controls['event_date'].touched )">
          date is required</p>
      </div>
      <div class="form-group">
        <label class="col-md-4">Event_type</label>
        <label class="checkbox-inline"><input type="checkbox" formControlName="event_type" Value="Sports"/>Sports</label>
        <label class="checkbox-inline"><input type="checkbox" formControlName="event_type" Value="Activity_Programs"/>Activity_programs</label>
        <p class=" mb-0 mt-1 text-danger" *ngIf="eventForm.controls['event_type'].hasError('required') &&
        ( eventForm.controls['event_type'].touched )">
          event_type is required</p>
      </div>
      <div class="form-group">
        <label class="col-md-4">Event_subcategory</label>
        <select formControlName="event_subcategory" class="form-control">
          <option value="Cricket">Cricket</option>
          <option value="Football">Football</option>
          <option value="Singing">Singing</option>
          <option value="Dancing">Dancing</option>
          <option value="Concert">Concert</option>
          </select>
        <p class=" mb-0 mt-1 text-danger" *ngIf="eventForm.controls['event_subcategory'].hasError('required') &&
        ( eventForm.controls['event_subcategory'].touched )">
          event_subcategory is required</p>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">AddEvent</button>
      </div>
      <div *ngIf="invalidLogin" class="alert alert-danger">Event Does not create</div>
      <div *ngIf="!invalidLogin" class="alert alert-success">Event Created Successfully</div>
    </form>
  </div>
</div>