<div class="card">
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="col-md-4">First Name</label>
        <input type="text" formControlName="firstname" class="form-control"/>
        <p class=" mb-0 mt-1 text-danger" *ngIf="registerForm.controls['firstname'].hasError('required') &&
        ( registerForm.controls['firstname'].touched )">
          firstname is required</p>
      <!--     <div *ngIf="submitted && firstname.errors" class="invalid-feedback">
            <div *ngIf="firstname.errors.required">First Name is required</div>
        </div> -->
        
      </div>
      <div class="form-group">
        <label class="col-md-4">Last Name </label>
        <input type="text" formControlName="lastname" class="form-control" />
        <p class=" mb-0 mt-1 text-danger" *ngIf="registerForm.controls['lastname'].hasError('required') &&
        ( registerForm.controls['lastname'].touched )">
          lastname is required</p>
          <!-- <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
          <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
              <div *ngIf="f.lastname.errors.required">Last Name is required</div>
          </div> -->
      </div>
      <div class="form-group">
        <label class="col-md-4">Email</label>
        <input type="text" formControlName="email" class="form-control" />
        <p class=" mb-0 mt-1 text-danger" *ngIf="registerForm.controls['email'].hasError('required') &&
        ( registerForm.controls['email'].touched )">
          email is required</p>
          <p class=" mb-0 mt-1 text-danger" *ngIf="(!registerForm.controls['email'].valid && !registerForm.controls['email'].hasError('required') &&
          ( registerForm.controls['email'].touched ))">
            Enter a valid email</p>
      </div>
      <div class="form-group">
        <label class="col-md-4">Password</label>
        <input type="password" formControlName="password" class="form-control" />
        <p class=" mb-0 mt-1 text-danger" *ngIf="registerForm.controls['password'].hasError('required') &&
        ( registerForm.controls['password'].touched )">
          Password is required</p>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">AddUser</button>
      </div>
    </form>
  </div>
</div>